/*estilos generales*/
*{
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* seccion principal */
.seccion_padre_b{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  
}

.seccion_interno_b{
  width: 50%;
  margin-top: 6.5px;
  align-items: center;
}

.centrar_contenido{
  display: flex;
  justify-content: center;
  align-items: center;
} 

.centrar_texto{
  text-align: center;
  align-items: center;
} 

.gris{
  background-color: rgb(240, 240, 240);
}

.btn{
  margin: 2px;
}
/* buscador */

.formulario_buscador{
  text-align: center;
}
.titulos_buscador{
  margin: 10px;
}

/* seccion de la tabla ext*/
.externo_padre_l{
display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;
}
.titulo_gestion{
padding: 5px;
margin-left: 5px;
  
}

.externo_l .boton_agregar{
display: flex;
justify-content: right;
align-items: right;
margin-right: 5px;
padding: 5px;
}

.externo_l{ 
width: 100%;
margin-top: 6.5px;
}



/*presentar y esconder pisos*/
/* planta baja*/
#despliegue_planta_b{
cursor: pointer;
transition: all 2s;
}
#ocultar_planta_b{
cursor: pointer;
display: none;
transition: all 2s;
}
#detalle_planta_b{
display: none;
transition: all 2s;
}

/* planta 1*/
#despliegue_planta_1{
cursor: pointer;
transition: all 2s;
}
#ocultar_planta_1{
cursor: pointer;
display: none;
transition: all 2s;
}
#detalle_planta_1{
display: none;
transition: all 2s;
}

/* planta 2*/
#despliegue_planta_2{
cursor: pointer;
transition: all 2s;
}
#ocultar_planta_2{
cursor: pointer;
display: none;
transition: all 2s;
}
#detalle_planta_2{
display: none;
transition: all 2s;
}

/* planta 3*/
#despliegue_planta_3{
cursor: pointer;
transition: all 2s;
}
#ocultar_planta_3{
cursor: pointer;
display: none;
transition: all 2s;
}
#detalle_planta_3{
display: none;
transition: all 2s;
}

/* planta 4*/
#despliegue_planta_4{
cursor: pointer;
transition: all 2s;
}
#ocultar_planta_4{
cursor: pointer;
display: none;
transition: all 2s;
}
#detalle_planta_4{
display: none;
transition: all 2s;
}

/* planta 5*/
#despliegue_planta_5{
cursor: pointer;
transition: all 2s;
}
#ocultar_planta_5{
cursor: pointer;
display: none;
transition: all 2s;
}
#detalle_planta_5{
display: none;
transition: all 2s;
}

/* planta 6*/
#despliegue_planta_6{
cursor: pointer;
transition: all 2s;
}
#ocultar_planta_6{
cursor: pointer;
display: none;
transition: all 2s;
}
#detalle_planta_6{
display: none;
transition: all 2s;
}


/*departamento*/
.despliegue_departamento{
  cursor: pointer;
  transition: all 2s;
}
.ocultar_departamento{
  cursor: pointer;
  display: none;
  transition: all 2s;
}
.detalle_departamento{
  display: none;
  transition: all 2s;
}

.gris{
background-color: rgb(240, 240, 240);
}
.icono_des{
margin: 3px;
}
.texto_solo{
margin: 5px;
}



















/* For small devices mobiles*/
@media screen and (max-width: 1400px) {
/* seccion de las plantas */
.seccion_hijo_p{
  background-color: rgb(255, 255, 255);
  width: 88%;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.seccion_interno_p{
  width: 100%;
  align-items: center;
}
/*cotenedores que muestran los registros de las habs*/
.seccion_hijo_t{
  background-color: rgb(255, 255, 255);
  border: 2px solid #7b7b7b;
  border-radius: 5px;
  margin: 10px;
} 
/* seccion del buscador */
.seccion_hijo_b{
  background-color: rgb(255, 255, 255);
  width: 80%;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
/* seccion del recuadro blanco para el carrusel*/
.seccion_hijo_f{
  background-color: rgb(255, 255, 255);
  width: 80%;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

/*seccion del recuadro gris para el carrusel*/
.seccion_interno_2{
  max-width: 70%;
  display: flex;
  justify-content: center;
  margin: 5px;
}
/*titulo del carrusel*/
.content_titulo{
  text-align: center;
  color: rgb(0, 0, 0); 
  margin: 5px;
}
/*carrusel*/
#contenedor{
  text-align: center;
}
/*carrusel*/
.imagen{
  max-width: 78%;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
}

/* seccion de la tabla int*/
.interno_padre_l{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* seccion de la tabla int*/
.interno_hijo_l{
  background-color: rgb(255, 255, 255);
  width: 80%;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

.interno_l{ 
  width: 100%;
  align-items: center;
}
/* seccion de la tabla entera*/
.container_tabla{
  width: 100%;
  margin: auto;
}

/* seccion de la tabla ext*/
.externo_hijo_l{
  background-color: rgb(255, 255, 255);
  width: 95%;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

.table{
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

.table th, .table td{
  padding: 8px;
  text-align: center;
}

.table thead th{
  text-transform: uppercase;
  background-color: #ffffff;
  font-size: 12px;
}

/*encabezado*/
.encabezado {
  top: -20px;
  text-align: center;
  width: 100%;
  height: 160px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}
.encabezado .overlay{
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #312894 10%, #8f7325 100%);
}

h1 {
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
}

h3, p {
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
}

.boton {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.boton:hover{
  cursor: pointer;
}

/* diseño de los checksboxs para agregar un servicio */
.tamano_icono{
  width: 40px;
  height: 40px;
}

.centrar{
  display: flex;
  justify-content: center;
  align-items: center;
} 

.option_item{
  display: block;
  position: relative;
  width: 130px;
  margin: 5px;
}
/* tamaño y color del recuadro */
.option_inner{
  width: 100%;
  height: 90%;
  border-radius: 7px;
  background-color: whitesmoke;
  text-align: center;
  padding: 9px 5px;
  cursor: pointer;
  color: #585c68;
  display: block;
  border: 1px solid #a5a5a5;
  position: relative;
}
/* tamaño y direccion del check */
.checkbox{
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1;
  opacity: 0;
}

.icon{
  margin-bottom: 5px;
}

/* agrega accion de seleccionar y da colores al fondo y al estilo */
.option_item .checkbox:checked ~ .option_inner.seleccionar1 {
  background-color: rgb(52, 138, 219);
  border: 3px solid rgb(49, 50, 55);
  color: white;
}

.option_item .checkbox:checked ~ .option_inner.seleccionar2 {
  background-color: rgb(0, 180, 153);
  border: 3px solid rgb(49, 50, 55);
  color: white; 
}

.option_item .checkbox:checked ~ .option_inner.seleccionar3 {
  background-color: rgb(175, 49, 95);
  border: 3px solid rgb(49, 50, 55);
  color: white;
}

/* mostrar y ocultar contenido */
.subtitulo{
  text-align: center;
  border: 1px solid #a5a5a5;
  border-radius: 10px;
  margin: 10px;
  font-size: 15px;
}
/*estilos para esconder y mostrar los campos de los servicios para agrega una hab*/    
/*cocina*/
#despliegue_cocina{
  cursor: pointer;
}
#ocultar_cocina{
  cursor: pointer;
  display: none; 
}
#detalle_cocina{
  display: none;
}

#despliegue_sinservicio{
  cursor: pointer;
}
#ocultar_sinservicio{
  cursor: pointer;
  display: none;
  
}
#detalle_sinservicio{
  display: none;
}

/*lavanderia*/    
#despliegue_lavanderia{
  cursor: pointer;
}
#ocultar_lavanderia{
  cursor: pointer;
  display: none;
    
}
#detalle_lavanderia{
  display: none;
}
/*otros servicios*/ 
#despliegue_otro_s{
  cursor: pointer;
}
#ocultar_otro_s{
  cursor: pointer;
  display: none;
}
#detalle_otro_s{
  display: none;
}
/*estacionamiento*/    
#despliegue_estacionamiento{
  cursor: pointer;
}
#ocultar_estacionamiento{
  cursor: pointer;
  display: none;  
}
#detalle_estacionamiento{
  display: none;
}
/*añadir servicio*/      
#despliegue_añadirServicio{
  cursor: pointer;
}
#ocultar_añadirServicio{
  cursor: pointer;
  display: none; 
}
#detalle_añadirServicio{
  display: none;
}
}

/*estilos para los modales*/
.modal-header{
background-color: #fd8a50;
border: 0;

}    
.tamaño_lg{
    height: 90%;
}

.tamaño_sm{
    height: 50%;
}

.modal-title{
    color: white;
}

.modal-lg {
    max-width: 90%;
    width: 70%;
}
    
.modal-sm {
    max-width: 70%;
    width: auto;
}






























/* For large devices desktop*/
@media screen and (min-width: 1401px) {
/* seccion de las plantas */
.seccion_hijo_p{
  background-color: rgb(255, 255, 255);
  width: 65%;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.seccion_interno_p{
  width: 100%;
  align-items: center;
}
/*cotenedores que muestran los registros de las habs*/
.seccion_hijo_t{
  background-color: rgb(255, 255, 255);
  width: 32%;
  border: 2px solid #7b7b7b;
  border-radius: 5px;
  float: left;
  margin: 5px;
}  

/* seccion del buscador */
.seccion_hijo_b{
  background-color: rgb(255, 255, 255);
  width: 45%;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
/* seccion del recuadro blanco para el carrusel*/
.seccion_hijo_f{
  background-color: rgb(255, 255, 255);
  width: 45%;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

/*seccion del recuadro gris para el carrusel*/
.seccion_interno_2{
  max-width: 65%;
  display: flex;
  justify-content: center;
  margin: 5px;
}
/*titulo del carrusel*/
.content_titulo{
  text-align: center;
  color: rgb(0, 0, 0); 
  margin: 5px;
}
/*carrusel*/
#contenedor{
  text-align: center;
}
/*carrusel*/
.imagen{
  max-width: 65%;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
}

             
/* seccion de la tabla int*/
.interno_padre_l{
  display: flex;
  justify-content: center;
  align-items: center; 
}

/* seccion de la tabla int*/
.interno_hijo_l{
  background-color: rgb(255, 255, 255);
  width: 45%;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}
    
.interno_l{ 
  width: 100%;
  align-items: center;
}
/* seccion de la tabla entera*/
.container_tabla{
  width: 100%;
  margin: auto;
}

/* seccion de la tabla ext*/
.externo_hijo_l{
  background-color: rgb(255, 255, 255);
  width: 70%;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

.table{
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}
    
.table th, .table td{
  padding: 8px;
  text-align: center; 
}
.table thead th{
  text-transform: uppercase;
  background-color: #ffffff;
  font-size: 14.5px;
}

/*encabezado*/
.encabezado {
  top: -20px;
  text-align: center;
  width: 100%;
  height: 160px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}
.encabezado .overlay{
  width: 100%;
  height: 100%;
  padding: 15px;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #312894 10%, #8f7325 100%);  
}

h1{
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
}

h3, p{
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
}

.boton {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.boton:hover{
  cursor: pointer;
}

/* diseño de los checksboxs */

.tamano_icono{
  width: 40px;
  height: 40px;
}

.centrar{
  display: flex;
  justify-content: center;
  align-items: center;
} 

.option_item{
  display: block;
  position: relative;
  width: 130px;
  margin: 5px;  
}

/* tamaño y color del recuadro */
.option_inner{
  width: 100%;
  height: 90%;
  border-radius: 7px;
  background-color: whitesmoke;
  text-align: center;
  padding: 9px 5px;
  cursor: pointer;
  color: #585c68;
  display: block;
  border: 1px solid #a5a5a5;
  position: relative;
}
/* tamaño y direccion del check */
.checkbox{
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1;
  opacity: 0;
}
.icon{
  margin-bottom: 5px;
}
/* tamaño de la letra del nombre */

/* agrega accion de seleccionar y da colores al fondo y al estilo */
.option_item .checkbox:checked ~ .option_inner.seleccionar1 {
  background-color: rgb(52, 138, 219);
  border: 3px solid rgb(49, 50, 55);
  color: white;
}

.option_item .checkbox:checked ~ .option_inner.seleccionar2 {
  background-color: rgb(0, 180, 153);
  border: 3px solid rgb(49, 50, 55);
  color: white;
}

.option_item .checkbox:checked ~ .option_inner.seleccionar3 {
  background-color: rgb(175, 49, 95);
  border: 3px solid rgb(49, 50, 55);
  color: white;
}

/* mostrar y ocultar contenido */
.subtitulo{
  text-align: center;
  border: 1px solid #a5a5a5;
  border-radius: 10px;
  margin: 10px;
  font-size: 18px;
}

/* cocina */
#despliegue_cocina{
  cursor: pointer;
  transition: all 2s;
}
#ocultar_cocina{
  cursor: pointer;
  display: none;
  transition: all 2s;
}
#detalle_cocina{
  display: none;
  transition: all 2s;
}
#despliegue_sinservicio{
  cursor: pointer;
}
#ocultar_sinservicio{
  cursor: pointer;
  display: none;
  
}
#detalle_sinservicio{
  display: none;
}

/* lavanderia */
#despliegue_lavanderia{
  cursor: pointer;
}
#ocultar_lavanderia{
  cursor: pointer;
  display: none;
}
#detalle_lavanderia{
  display: none;
}

/* otros serv */
#despliegue_otro_s{
  cursor: pointer;
}
#ocultar_otro_s{
  cursor: pointer;
  display: none;
}
#detalle_otro_s{
  display: none;
}

/* estacionamiento */
#despliegue_estacionamiento{
  cursor: pointer;
}
#ocultar_estacionamiento{
  cursor: pointer;
  display: none;
}
#detalle_estacionamiento{
  display: none;
}
/*añadir servicio*/    
#despliegue_añadirServicio{
  cursor: pointer;
}
#ocultar_añadirServicio{
  cursor: pointer;
  display: none;
}
#detalle_añadirServicio{
  display: none;
}

}

