*{
    font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    }

    .loader_action{
        background-color: rgba(0,0,0,.5);
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 999;
        display: none;
        align-items: center;
        justify-content: center;
    }
    .action{
        background-color: #fff;
        border-radius: 20px;
        width: 270px;
        padding: 16px;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .col{
        display: block;
        flex: initial;
        color: #333;
        float: right;
    }
    col:first-child{
        width: 100px;
    }

    img{
        display: block;
        width: 70%;
    }
col:last-child{
    margin-left: 5%;
    position: relative;
    width: calc(95% - 40px);
}

.loader_action_animation_show{
    animation-timing-function: ease-in-out;
    animation: action_show 0.5s forwards;
}

.loader_action_animation_hide{
    animation-timing-function: ease-in-out;
    animation: action_hide 0.5s forwards;
}
@keyframes action_show{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes action_hide{
    0%{opacity: 1;}
    100%{opacity: 0;}
}